* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  width: 100%;
  height: 100vh;
  background: green;
  overflow: hidden
}

.kai-app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}

.kai-header {
  position: fixed;
  width: 100%;
  height: 45px;
  background: #dae3ca;
}

.kai-editor {
  margin-top: 45px;
  flex: 1 1 auto;
  overflow: hidden;
}

.kai-footer {
  position: absolute;
  width: 100%;
  height: 38px;
  background: blue;
  bottom: 0px;
  z-index: 1000;
}

#wrapper {
  width: 100%;
  height: 100%;
  background: red;
}

.code__editor {
  background: #1b1b1b;
  overflow-y: scroll;
  overflow-x: hidden;
}

.code__editor::-webkit-scrollbar {
  width: 0px;
  opacity: 0;
}

.code__editor::-webkit-scrollbar-thumb {
  width: 0px;
  opacity: 0;
}

.scrollY__wrapper {
  display: flex;
  background: red;
  overflow: hidden;
}

.scrollY__wrapper::-webkit-scrollbar {
  width: 0px;
  opacity: 0;
}

.scrollY__wrapper::-webkit-scrollbar-thumb {
  width: 0px;
  opacity: 0;
}

.lines__wrapper {
  background: #1b1b1b;
  color: #aded;
  overflow: scroll;
}

.scrollX__wrapper {
  position: relative;
  overflow: hidden;
  overflow-x: scroll
}

.numbers__wrapper {
  z-index: 100;
  background: #1b1b1b;
  color: hsla(392, 5%, 50%, 1);
  text-align: right;
  padding-right: 5px;
  font-size: 10px;
}

.line__wrapper {
  padding-left: 5px;
}

.active__row {
  background: #212324;
}

.keyboard__input {
  position: absolute;
  opacity: 0;
  z-index: -900;
}

.cursor {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background:#fff;
}

pre {
  white-space: pre
}


canvas {
  display: none;
}

